adafruit-io==2.5.0
asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.3.2
django
idna==3.4
paho-mqtt==1.6.1
pyserial==3.5
requests==2.31.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.1.0
whitenoise
docker